.CartItemCard {
    display: flex;
    padding: 1vmax;
    height: 8vmax;
    align-items: flex-start;
    box-sizing: border-box;

    >img {
        width: 5vmax;
    }

    >div {
        display: flex;
        margin: 0.3vmax 1vmax;
        flex-direction: column;

        >a {
            font: 700 1.2vmax "Roboto";
            color: rgba(24, 24, 24, 0.815);
            letter-spacing: 0.5px;
            text-decoration: none;
            margin: 2px;
        }

        >span {
            font: 500 1vmax "Roboto";
            color: rgba(24, 24, 24, 0.815);
            letter-spacing: 0.5px;
            margin: 2px;
        }

        >p {
            color: tomato;
            font: 500 1vmax "Roboto";
            cursor: pointer;
            margin: 2px;
        }

    }
}


@media screen and (max-width: 600px) {
    .CartItemCard {
        padding: 3vmax;
        height: 25vmax;

        >img {
            width: 10vmax;
        }

        >div {
            margin: 1vmax 2vmax;

            >a {
                font: 300 2vmax cursive;
            }

            span {
                font: 300 1.9vmax "Roboto";
            }

            >p {
                font: 100 1.8vmax "Roboto";
            }
        }

    }
}